* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #242424;
  overflow: hidden;
}

.box {
  position: relative;
  width: 100%;
  height: 350px;
  transform-style: preserve-3d;
}

.box .text {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  text-align: center;
  animation: animate 24s linear infinite;
}

.box .text span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 8em;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  -webkit-text-stroke: 1px #000;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: rotateX(calc(var(--i) * 15deg));
}

.box .text span b {
  color: #00b8ffcc;
  font-weight: 800;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(360deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}
