body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  width: 354px;
  height: 354px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.5s;
  animation: move 6s infinite;
}

.eye {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 25px;
  animation: blink 6s infinite;
}

@keyframes move {
  40% {
    transform: translate(40px, 40px);
  }
  60% {
    transform: translate(80px, -20px);
  }
  80% {
    transform: translate(0, 0);
  }
}

@keyframes blink {
  0% {
    height: 50px;
    width: 50px;
  }
  15% {
    height: 60px;
    width: 40px;
  }
  20% {
    height: 60px;
    width: 40px;
  }
  60% {
    height: 60px;
    width: 40px;
  }
  70% {
    height: 50px;
    width: 50px;
  }
  85% {
    height: 10px;
    width: 50px;
  }
  90% {
    height: 10px;
    width: 50px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
