* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcd34d;
  min-height: 100vh;
}

body.dark {
  background: #171717;
}

.cursor {
  position: relative;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f97316;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

body.dark .cursor .circle {
  background: #fff;
}
