* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container #picture {
  width: 50%;
  height: 100%;
  transition: 0.5s;
  background: #ccc;
}

.container #picture.one {
  background: url(img/img1.jpg);
  background-size: cover;
}

.container #picture.two {
  background: url(img/img2.jpg);
  background-size: cover;
}

.container #picture.three {
  background: url(img/img3.jpg);
  background-size: cover;
}

.container #picture.four {
  background: url(img/img4.jpg);
  background-size: cover;
}

.container #picture.five {
  background: url(img/img5.jpg);
  background-size: cover;
}

.container #picture.six {
  background: url(img/img6.jpg);
  background-size: cover;
}

.container ul {
  height: 100%;
  padding: 40px 0;
}

.container ul li {
  position: relative;
  list-style: none;
  padding: 0 40px;
}

.container ul li a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 4em;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;
}

.container ul li a:hover,
.container ul li.active a {
  color: #262626;
  transform: translateX(60px);
}

.container ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scaleX(0);
  width: 50px;
  height: 4px;
  background: #f00;
  transition: 0.5s;
  transform-origin: left;
}

.container ul li:hover::before,
.container ul li.active::before {
  transform: translateY(-50%) scaleX(1);
}
