* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

.box {
  position: relative;
  width: 400px;
  height: 300px;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--angle),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  border-radius: 20px;
  animation: rotating 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--angle),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  border-radius: 20px;
  animation: rotating 4s linear infinite;
  filter: blur(40px);
  opacity: 0.75;
}

.box span {
  position: absolute;
  inset: 4px;
  background: #222;
  border-radius: 16px;
  z-index: 1;
  opacity: 1;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotating {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.box .box {
  position: absolute;
  inset: 0 -50px;
  top: 75px;
  height: 150px;
  width: 500px;
}
