* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

h2 {
  position: relative;
  font-size: 20em;
  color: #222;
  background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.02em transparent;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  color: #222;
  background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.02em transparent;
  transform: translate(-10px, -10px);
  z-index: -1;
  opacity: 0.25;
}

h2::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  color: #222;
  background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.02em transparent;
  transform: translate(-20px, -20px);
  z-index: -1;
  opacity: 0.1;
}
