* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  position: absolute;
  width: 300px;
  height: 400px;
  background: #333;
  transform: translate(0, 50px) rotate(10deg);
  -webkit-mask: radial-gradient(circle 50px at top left, transparent 98%, #000)
      top left,
    radial-gradient(circle 50px at top right, transparent 98%, #000) top right,
    radial-gradient(circle 50px at bottom left, transparent 98%, #000) bottom
      left,
    radial-gradient(circle 50px at bottom right, transparent 98%, #000) bottom
      right;
  -webkit-mask-size: 51% 51%;
  -webkit-mask-repeat: no-repeat;
  transition: 0.25s;
}

.box:nth-child(2) {
  background: url(https://picsum.photos/id/10/300/400);
  transform: translate(200px, -100px) rotate(15deg);
}

.box:nth-child(3) {
  background: url(https://picsum.photos/id/100/300/400);
  transform: translate(-200px, -20px) rotate(-35deg);
}

.box:hover {
  scale: 1.1;
}
