* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  position: relative;
  height: 100vh;
  background: #1c0101;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h2 {
  font-size: 5em;
  text-transform: uppercase;
  color: #f00;
  cursor: default;
  display: flex;
}

h2 span {
  transition: 1.5s;
  text-shadow: 0 0 25px #f00;
}

h2:hover span {
  filter: blur(20px);
  opacity: 0;
  transform: scale(2) translateY(-50%);
}
