* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #083344;
  filter: hue-rotate(70deg);
}

.loader {
  position: relative;
  transform: rotate(calc(45deg * var(--j)));
}

.loader span {
  position: absolute;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #22d3ee;
  border-radius: 2px;
  animation: animate 5s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}

.loader:nth-child(even) span::before {
  background-color: #22d3ee;
}

@keyframes animate {
  0% {
    transform: translateX(250px) scale(4);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-10px) scale(0);
  }
}
