* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 80px 40px;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  padding: 0 20px;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.container .card:hover {
  background: #1f83f2;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  transform: translateY(-20px);
}

.container .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container .card .box .icon {
  position: relative;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #fff7;
  transition: 0.5s;
}

.container .card:hover .box .icon {
  background: #2f363e;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.container .card .box .icon svg {
  width: 50%;
  height: 50%;
  background: transparent;
}

.container .card .content h2 {
  margin-top: 24px;
  color: #fff7;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.container .card .content p {
  margin-top: 12px;
  color: #fff7;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.5s;
}

.container .card:hover .content h2,
.container .card:hover .content p {
  color: #fff;
}

.container .card .content a {
  display: inline-block;
  background: rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff7;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
}

.container .card:hover .content a {
  background: #2f363e;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
