* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 750vh;
  background: #111;
}

.text {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  max-width: 700px;
  font-size: 2.25rem;
  line-height: 1.5em;
  text-align: center;
}

.text span {
  display: inline-flex;
  color: #333;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(500px) rotate(360deg) scale(1);
}

.text span.reveal {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
  opacity: 1;
  transform: translateY(0px) rotate(0deg) scale(1);
}
