@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #161616;
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 60px;
  background: #242424;
  border-radius: 30px;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  z-index: 10000;
  color: #444;
}

ul li a i {
  font-size: 2.5em;
  transition: 0.5s;
  pointer-events: none;
}

ul li:hover a i {
  color: #a3e635;
  filter: drop-shadow(0 0 15px #a3e635);
}

ul li.active a i {
  color: #a3e635;
  filter: drop-shadow(0 0 15px #a3e635);
  transform: translateY(-50px);
}

ul li a svg {
  width: 2.5em;
  height: 2.5em;
  transition: 0.5s;
  pointer-events: none;
}

ul li:hover a svg {
  color: #a3e635;
  filter: drop-shadow(0 0 15px #a3e635);
}

ul li.active a svg {
  color: #a3e635;
  filter: drop-shadow(0 0 15px #a3e635);
  transform: translateY(-50px);
}

#marker {
  position: absolute;
  top: -40px;
  width: 80px;
  height: 80px;
  background: #365314;
  border-radius: 20px;
  border-top: 2px solid #a3e635;
  border-left: 2px solid #a3e635;
  box-shadow: 0 0 0 10px #161616, 0 2px 0 9px #a3e635;
  transition: 0.5s;
}

#marker::before {
  content: "";
  position: absolute;
  top: 29px;
  left: -30px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 4px -4px 0 4px #161616;
}

#marker::after {
  content: "";
  position: absolute;
  top: 29px;
  right: -30px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -4px -4px 0 4px #161616;
}

#marker span {
  position: absolute;
  top: 125px;
  width: 120%;
  left: -10%;
  height: 30px;
  background: #365314;
  box-shadow: 0 0 0 10px #161616, 0 -2px 0 9px #a3e635;
  border-radius: 20px;
  border-right: 1px solid #a3e635;
  border-bottom: 1px solid #a3e635;
}

ul li text {
  position: absolute;
  pointer-events: none;
  transform: translateY(50px);
  opacity: 0;
  font-size: 0.8em;
  transition: 0.5s;
  text-decoration: uppercase;
}

ul li.active text {
  opacity: 1;
  color: #a3e635;
  filter: drop-shadow(0 0 10px #a3e635);
}
